.infoWindow > p, .infoWindow img { display: none }

.infoWindow {
    height: auto;
    font-family: sans-serif;
}

.infoWindow > div {
    padding: 10px;
}

.infoWindow .name {
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    margin: 0;
}

.infoWindow .coordinates {
    display: block;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 7px;
}
