.infoWindow > p, .infoWindow img { display: none }

.infoWindow {
    height: auto;
    font-family: sans-serif;
}

.infoWindow > div {
    padding: 10px;
}

.infoWindow h3 {
    font-size: 15px;
    line-height: 19px;
    margin: 0;
}

.infoWindow .type {
    display: block;
    font-size: 11px;
    font-style: italic;
    margin: 0px 0 7px;
}
